<!-- header.ejs -->

<header>
    <nav>
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/edukasi">Edukasi</a></li>
        <li><a href="/kegiatan">Kegiatan</a></li>
        <li><a href="/ulasan">Ulasan</a></li>
      </ul>
    </nav>
  </header>
  